@import "../../variables";

header {
  background: $kkr-red-gradient;
  color: #ffffff;
  text-align: center;
  height: 100%;
  position: relative;
  & > .row {
    margin: 7rem 0;
    h1 {
      font-size: 40px;
      font-weight: 600;
    }
  }
}

section {
  .container{
    & > h2 {
      text-align: center;
      margin-bottom: 48px;
      color: #404040;
    }
    h3 {
      color: $kkr-red !important;
      font-size: 40px;
      font-weight: 400;
      strong {
        font-weight: 600;
      }
    }
  }
}

.search-box {
  margin-top: 5rem;
}

.wave-brand {
  background-image: url("../../assets/images/kkrwave.svg");
  background-size: cover; 
  height: 0;
  padding: 0;
  padding-bottom: calc(10% * 3/4);
  width: 100%;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  &-red {
    background-image: url("../../assets/images/wve1Copy2.svg");
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: calc(15% * 3/4);
    width: 100%;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px);
  }
}

.about-point {
  display: flex;
  align-items: start;
  & > .circle {
    flex: 1 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: $kkr-red;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 36px;
    font-size: 18px;
  }
  &-details {
    margin-bottom: 26px;
    h4 {
      color: $kkr-red;
      margin: 0;
      font-size: 20px;
    }
    p {
      font-size: 18px;
      color: rgba(0, 0, 0, .5);
    }
  }
}

.values {
  text-align: center;
  padding: 2rem;
  box-sizing: padding-box;
  h5 {
    color: #555555;
    font-size: 24px;
    margin: 16px 0 8px;
  }
  p {
    font-size: 18px;
    color: rgba(85, 85, 85, 0.5);
    font-weight: 400;
  }
}

.curved {
  background: $kkr-red-gradient;
  margin-top: 76px;
  text-align: center;
  color: #ffffff;
  position: relative;
  //#curve_top, #curve_bottom {
  //  width: 100%;
  //}
  //#curve_bottom {
  //  background: blue;
  //}
  &::before {
    content: '';
    height: 76px;
    width: 110%;
    display: block;
    background-image: url("../../assets/images/curve_bottom.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
  h2 {
    font-size: 32px;
    color: #ffffff!important;
  }
}

.testimonials {
  overflow-x: hidden;
  ngx-carousel {
    width: 120%;
    padding-bottom: 48px;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  ngx-item {
    overflow: -webkit-paged-x;
  }
  .card {
    background: #FFFFFF;
    padding: 1rem 1rem 5rem;
    margin: 1rem;
    position: relative;
    overflow: visible;
    box-shadow: 0 20px 40px 0 rgba(1, 1, 1, 0.05), 0 10px 15px 0 rgba(1, 1, 1, 0.1);
    p {
      color: #404040;
      font-size: 18px;
    }
    strong {
      color: #404040;
    }
    .testmonial-img {
      border-radius: 10rem;
      height: 64px;
      width: 64px;
      border: 6px solid $kkr-yellow;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
      -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      -o-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
    }
  }
  .leftRs, .rightRs {
    display: none;
    opacity: 0;
  }
}
.bottom-pic {
  background: url("../../assets/images/remote-worker-kkr.png") no-repeat top;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow-y: hidden;
}
.footer-head {
  font-size: 32px;
  color: #404040;
  text-align: center;
  font-weight: 600;
}
footer {
  color: #ffffff;
  img {
    width: 100%;
    height: auto;
  }
  .footer-body {
    background: $kkr-red-lighter;
    strong {
      font-size: 14px;
    }
    p {
      font-weight: 300;
      font-size: 12px;
      color: #f0f0f0;
      line-height: 1.65;
    }
    .col-md-4{
      padding: 1rem;
      &:first-child {
        border-right: 1px solid $kkr-red;
      }
    }
    .col-md-2 {
      padding: 1rem;
      ul {
        list-style: none;
        margin: .5rem 0 0;
        padding: 0;
        li {
          padding: .5rem 0;
          a {
            color: #ffffff;
            font-weight: 300;
            font-size: 12px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer-footer {
    background: #7c000f;
    padding: .5rem 0;
    .container {
      padding: 0;
      text-align: center;
    }
    span {
      font-size: 12px;
      font-weight: 300;
      color: #f0f0f0;
    }
  }
}