@import "variables";

@import "themes/themes";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

header,body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    p {
        font-size: 24px;
        letter-spacing: .5em;
        padding: 0 16px;
        color: #ffffff;
    }

}
.navbar {
    ul {
        padding: 0;
        list-style-type: none;
        li {
            float: left;
            padding: 14px 16px;
            a{
                text-decoration: none;
                color: #ffffff;
            } 
        }
    }
}

.navbar-menu {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-login {
    .button {
        font-weight: bold;
        text-transform: uppercase;
        background-color: #f5a623;
        border-radius: 22.5px;
        width: 92px;
    }
}


