<nav [class.colored]="hasBackground">
  <div class="top-bar">
    <h2 class="logo">Logo</h2>
    <div class="menus">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="#">Freelancer</a></li>
        <li><a routerLink="#">About</a></li>
        <li><a routerLink="#">Contact</a></li>
      </ul>
      <div *ngIf="!isLoggedIn" class="actions">
        <button class="btn btn-primary" routerLink="/login">Login</button>
        <span>or</span>
        <button class="btn btn-thin" routerLink="/register">Register</button>
      </div>
        <img *ngIf="isLoggedIn" src="https://randomuser.me/api/portraits/men/51.jpg" class="logged-user">
    </div>
  </div>
</nav>