<section>
  <app-landing-nav-bar></app-landing-nav-bar>
  <div class="container">
    <div class="row center-xs middle-md">
      <div class="col-xs-11 col-md-6">
        <div class="card shadow-heavy">
          <div class="login-header">
            <h1>Login</h1>
            <span>Don't have an account? <a href="#">Register here</a></span>
          </div>
          <div class="login-form">
            <div class="input-control-square">
              <i class="icon-mail"></i>
              <input type="text" placeholder="Enter your email">
            </div>
            <div class="input-control-square">
              <i class="icon-locked"></i>
              <input type="text" placeholder="Password">
            </div>
            <div class="login-preferences">
              <div class="remember">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
              </div>
              <button class="btn btn-simple forgot-pass">Forgot Password?</button>
            </div>
            <button class="btn btn-block btn-primary">Create Account</button>
            <div class="or-strikeout">
              <div class="line"></div>
              <span>or</span>
            </div>
            <button class="btn btn-block btn-facebook">Daftar dengan Facebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-brand"></div>
</section>