@import "./variables.scss";

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.lead {
  font-size: 24px;
  font-weight: 300;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 26px 0;
}

.input-control {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  border-radius: 10rem;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  padding: 5px;
  label {
    color: $kkr-red;
    font-size: 24px;
  }
  input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1 1 auto;
    padding: 0 .5rem;
    background: transparent;
    &::placeholder {
      color: #bfbfbf;
    }
  }
}

.btn {
  border-radius: 10rem;
  padding: .5rem 2rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  &-primary {
    background: $kkr-yellow;
    color: #ffffff;
    &:hover {
      background: darken($kkr-yellow, 5%)
    }
  }
  &-thin {
    background: transparent;
    padding: 0;
    font-weight: 300;
  }
  &-block {
    width: 100%;
    &-half {
      width: 50%;
    }
  }
  &-simple {
    background: transparent;
    border: none;
    padding: 0;
  }
  &-facebook {
    background: #3b5998;
    color: #FFFFFF;
    font-size: 16px;
    &:hover {
      background: darken(#3b5998, 5%);
    }
  }
  &-outline {
    border: 1px solid #bfbfbf;
  }
  &-sm {
    font-size: 14px;
    color: #404040;
  }
}

.card {
  border-radius: 3px;
  box-shadow: 0 0 40px 0 rgba(.85, .85, .85, 0.05), 0 0 15px 0 rgba(.85, .85, .85, 0.1);
  &.shadow-heavy {
    box-shadow: 0 20px 40px 0 rgba(1, 1, 1, 0.05), 0 10px 15px 0 rgba(1, 1, 1, 0.1);
  }
}

.wave-brand {
  background-size: cover;
  background: url("assets/images/kkrwave.svg") no-repeat;
  height: 140px;
  padding: 0;
  //padding-bottom: calc(10% * 3/4);
  width: 100%;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
  &-red {
    background-image: url("assets/images/wve1Copy2.svg");
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: calc(15% * 3/4);
    width: 100%;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px);
  }
}